body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Ariel";
}

h2 {
    color: #29292b;
}

header h2 {
    color: black;
}

.site-footer {
    background-color: #96ceb4;
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right,white,white,#FFEEAD,#ffAd60,#d9534f);
    color: rgb(78, 77, 77);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #2d5977;
}

.card-img-top {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
  }